/* wondertype */

@font-face {
	font-family: 'WonderType';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
                url('fonts/wondertype.woff2') format('woff2'),
                url('fonts/wondertype.woff') format('woff');
}

/* lucette */

@font-face {
	font-family: 'Lucette';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src:
                url('fonts/lucette-italic.woff2') format('woff2'),
                url('fonts/lucette-italic.woff') format('woff');
}

/* inter */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Inter-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/Inter-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/Inter-BoldItalic.woff2') format('woff2');
}
